/* .breadcrumb {
}
.breadcrumb-current {
} */
.shop-layout {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1320px;
  padding: 20px;
}
.filters-sidebar {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}
.product-area {
  flex: 1;
}
/* .products-area-header {
}
.product-title {
}
.sort-select {
} */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
}
/* filters */
.filter-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
/* filter list */

.filter-list li {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid transparent;
}
.filter-list li:hover {
  border-color: var(--bor-blk-liter);
}
.filter-list button {
  width: 100%;
  background-color: var(--bg-cards-lighter);
  border-radius: 10px;
  text-align: start;
  border: none;
  padding-block: 10px;
  padding-inline-start: 10px;
  margin-block: 1px;
  transition: 0.3s ease;
  position: relative;
}
.filter-list button.active {
  scale: 1.1;
  font-weight: bold;
  padding-inline-start: 15px;
  color: var(--txt-white);
  background-color: var(--bg-black);
}

/* filter color */
.color-filter-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.color-swatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
.color-swatch span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 9999px;
  background-color: gray;
  bottom: -10px;
  opacity: 0;
  transition: width 0.3s ease;
}
.color-swatch input:checked + span::after {
  width: 15px;
  opacity: 1;
}

/* filter size */
.size-filter-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.size-swatch {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-swatch span {
  padding-block: 5px;
  padding-inline: 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00000010;
  border: 1px solid transparent;
  transition:
    border 0.3s ease,
    color 0.3s ease,
    background-color 0.3s ease;
  &:hover {
    border-color: var(--bor-blk-liter);
  }
}

.size-swatch input:checked + span {
  background-color: var(--bg-black);
  color: var(--txt-white);
  border-color: var(--bg-black);
}
